@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "inter", sans-serif;
    font-weight: 600;
}

.principal {
    background-image: 
        linear-gradient(
            rgba(255, 31, 76, 0.878),
            rgba(56, 0, 13, 0.822)),
        url("assets/image\ 5.png");
        width: 100hv;
    background-blend-mode: screen;
    background-size: cover; 
    height: 1100px;
    display: flex;
    flex-direction: column;
    gap: 160px; 
    align-items: center;
    padding: 200px;
    color: white;
    font-size: 30px;
}


a {
    color: white;
    text-decoration: none;
    font-size: medium;
}

button {
    color: white;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    padding: 24px 48px;
    cursor: pointer;
}

#historia,.Personagem {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

h2 {
    color: #ff1f4c;
    font-size: 80px;
}

p {
    color: white;
    font-size: 20px;
}

.paragrafo {
   display: flex;
   flex-direction: column;
   gap: 45px;
   width: 1200px;
   margin: 50px auto;
   padding-left: 20px;
}

.Trailer {
    background: linear-gradient(
            rgba(255, 31, 76, 0.878),
            rgba(56, 0, 13, 0.822));
    display: grid;
    grid-template-areas: "titulo img" "botao img" ". frase";
    padding-top: 100px;
    padding-bottom: 100px;
}

#titulo {
    color: black;
    grid-area: titulo;
    padding-left: 50px;
}

#img {
    grid-area: img;
    padding-right: 50px;
}

#botão {
    grid-area: botao;
    margin: 100px;
}

#frase {
    grid-area: frase;
    margin-top: 24px;
}

footer {
    background-color: #000000;
    padding-top: 25px;
    padding-bottom: 25px;
}

#rodape {
    color: #868585;
    text-align: center;
}